table.tableSection {
    display: table;
    width: 100%;
}

table.tableSection thead,
table.tableSection tbody {
    width: 100%;
}

table.tableSection thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 0px);
    background: #e8e1e1;    
    border-bottom: 1px solid gray;
    /* assuming scrollbar width as 16px */
}

table.tableSection thead tr {
    height: 25px;
    margin-top: 0.5%;
}

table.tableSection tbody {
    overflow: auto;
    height: 120px;
    display: block;
}

table.tableSection tr {
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
}
    table.tableSection tr .tractive {
        background: black;
        color: #fff;
    }

table.tableSection td {    
    padding: 0.5% 2%;
    cursor: pointer;
    /*border: 1px solid black;*/
}

    table.tableSection td input {    
        width: 100%;
        height: 32px;
        padding-right: 2%;
        text-align: right;
        border: 0;
        margin-top: 0.5%;
    } 

    table.tableSection td select {
        width: 100%;
        height: 30px;
        background: #fff;
        border:0;
        text-align: right;
        border: 0;
        margin-top: 0.5%;
    }

.table {
    width: 100%;
}
    .table th {
        background: #f5f5f0;
        text-align: center;
    }

    .table td {
        text-align: right;
    }

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 0px;
}

::-webkit-scrollbar:horizontal {
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0px;
    border: 0px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 0px;  
    background-color: #ffffff; 
}